extends layout

block content
  h1 #{channel.channelName}
  div
    textarea(cols="30", rows="1")#message-content
    button(data-user-id=user.userId data-channel-id=channel.channelId)#post-message-button 送信
  if messages
    each message in messages
      p #{message.content}